/*This is the CSS page*/

/*This code effects everything*/
/*Set margin and padding to 0. Leaving no spaces for every object*/
* {
    margin: 0;
    padding: 0;
}

/*This div is used for repositioning*/
/*Width of the container div to 900px*/
/*centering the whole page with margin*/
#container {
    width: 900px;
    margin: 0 auto;
}


/*------------------ Body Page -------------------*/

/*This Body Tag extend the width and height by 100%*/
/*Set the font famoly to Calibri*/
/*Set the background color to pure white*/
body {
    width: 100%;
    height: 100%;   
    font-family: calibri, serif; /*set to Calibri font. If this font does not exist, than it will be a serif.*/
    background-color: #fff; /*pure white*/
    
}

/*Set all margins in the list items for top and bottom by 5px*/
/*Remove the list style types  for all list items*/
li {
    margin: 5px 0;
    list-style-type: none;
}

/*Float left for left_column div and set width to 320px*/
#left_column {
    float: left;
    width: 320px;
}

/*Float right for right_column and set width to 500px*/
#right_column {
    float: right;
    width: 500px;
}

/*Both Columns have a border with given properties below*/
/*Extend the borders with padding on all sides by 10px*/
/*Set top and bottom margins by 5px*/
#left_column, #right_column {
    border: 3px solid black;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}


#image{
    width: 100%;
    margin: 0 auto;
} 

img{
    width: 50%;
    height: 50%;
}

/*This tag effcts both the header and footer*/
header, footer {
    clear: both;
    text-align: center;

    border: 2px solid black;
    padding: 2px 2px;
}

/*---------- links -----------*/
a:hover {
    font-weight: bold;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}