/*This is my stylesheet*/


/*This code effects all of my codes.
    This set my margins and padding to 0.
    The Dominant Font Family is KoHo in the goole fonts*/
* {
    margin: 0;
    padding: 0;

    font-family: 'Overpass', sans-serif;
}

/*-----------------------Gobal CSS-------------------------*/
/*This section will affect all of my pages*/

/* This CSS effects the body */
/* - Set the width in 100% (or infinity)
   - Set the font to 12pt */
body {
    width: 100%;
    font-size: 12pt;
}

/* Set the max width to 1200px*/
/* Set everything to center*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* Remove all the list style type to none. */
li {
    list-style-type: none;
}

p {
    padding-bottom: 16px;
}
/*--------------------- Navigation ------------------------*/


/* - Set width to 900px 
   - Set the Height to 70px
   - Have the navigation to float right*/
nav {
    width: 1200px;
    height: 70px;


    /*for Debugging only*/
    /* background-color: #80a3d8; */
    /* padding: 35px 0; */
}

.indicator{

    outline: 10px solid #141414;
    outline-offset: -10px;
    
    
}

/*This class allows me to reposition my navigation without disrupting the whole navigation
  - Have paddin-top by 35px which cause it to move down. 
  - Set the display to inline-flex to set the navigation to horizontal
  - Float the area to the right */
 .nav_container {
    padding-top: 35px;
    display: inline-flex;
    float: right;
}

/* - This allows the whole navigation text and logo to move the top padding by 32px.
   - Spreading the navigation by padding left and right sides by 30px
   - Change font size from 12pt to 16pt */
.nav_container a{
    padding: 40px 30px;
    font-size: 16pt;
}

/* - This code change the background color to light blue.
   - Change the text color to white */
.nav_container a:hover{
    background-color: #3c60af; /*Light Blue*/
    color: #ffffff; /*White*/
}



/*---- Dropdown Navigation ----*/

/* This code only applies to the "Works" Section of the Navigation */
/* - Set the display of the dropdown nav to be remove completely
   - Set the postion to absolute
   - moving the dropdown nav below the main navigation */
.dropdown .subnav {
    display: none;
    position: absolute;

    margin-top: 20px;
}

/* - When the dropdown class hovers:
        - Display is set to inline-block (Making the subnav go vertical)
        - Set the width to 350px
        - Set the Height to 310px 
        - Set the backgound color to white
        - Set the Border around the subnav by: 4px solid and color is black*/   
.dropdown:hover .subnav {
    display: inline-block;
    width: 350px;
    height: 310px;

    padding-bottom: 16px;   
    background-color: #ffffff; /*White*/
    border: 4px solid #000000; /*Pure Black*/
}

/* - When the subnav links are hovering:
        - Set background color to light blue
        - Change font color to white */
.subnav a:hover{
    background-color: #80a3d8; /*light Blue*/
    color: #ffffff; /*White*/
}

/* - Center all the text to center top, bottom, left and right with padding and text align
   - Give only bottom links a border by 2px solid and black 
   - Seting all the subnav to block to make it vertical*/
.subnav a{
    display: block;

    text-align: center;
    padding: 40px 0;

    border-bottom: 2px solid #000000;
}


/* - this will set the logo to the left side
   - Set the width and height to 137px x 100px
   - Set the padding left by 10px*/
.logo img{
    float: left;

    width: 107px;
    height: 70px; 

    padding-left: 10px;
    /* padding-top: 32px;
    margin: 0 30px; */
}

.mobile_nav {
    display: none;
}
/*--------------------- Footer -----------------------*/

/* - This code makes the footer's background color near black.
   - Changes the font color to white.
   - Prevent floats from both side. */
footer{
    width: 100%;
    height: 300px;
    clear: both;

    background-color: #141414; /*Near Black*/
    color: white;
}

.footer_wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.contact{
    padding-top: 32px;
}

.gallery .social_gallery a img{
    width: 30px;
    height: 30px;
}

.social_gallery {
    margin-top: 5px;
}

.social_gallery a{
    padding-right: 20px;
}


/*--------------------- Interior Works------------------*/
figure img{
    width: 50%;
}

/*--------------------- Resume ----------------------*/

/* - Set the Max-Width to 1000px
   - Set the Line Height to 32pt */
#wrapper_resume {
    max-width: 1000px;
    padding: 0 10%;

    line-height: 32pt;
}

/* - Set the height to 70px
   - Prevent overlap by floats on both sides */
#name {
    height: 70px;
    clear: both;

    /*Placeholder*/
    border-bottom: 5px solid #70d6c0;
}

/* - Set the h1 to Center

Note: the only reason why the rest of the text is not targeted 
      is because it will set them to center as well */
#name h1{
    text-align: center;
}

/* - Set the margin for top and bottom by 40px */
#description {
    margin: 40px 0;
}

/* - Set the max-width to 400px
   - Have the left side of the resume to float left 
    
   This column contains: Education, Skillsets, Programs, and Team Project*/
#left_column{
    max-width: 400px;
    float: left;

    /* display: block; */
}

/* - Set the max-widt h to 400px
   - Have the Rigth Side of the resume to float Right

   This column contains: Experience. */
#right_column{
    max-width: 400px;
    float: right;

    /* display: block; */
}

/* Seperate the education, programs and skill set with padding bottom by 16px */
#education, #programs, #skill_set {
    padding-bottom: 16px;
}

/* Push the team project section by 50px */
#programs{
    margin-bottom: 50px;
}

/* This is the inner float for Skill Set and Programs only
    - This cause the left side to float left.
    - Move the right side of the section with a margin of 120px */
.float_left_list {
    float: left;
    margin-right: 120px;
}

/* - Move the Chipotle Section down by 28px
     Note: Chipotle Section is under Experience Under Liza Savage-Katz Production */
#chipotle {
    margin-top: 28px;
}

/* - Have the link to be blue
   - Display to be inline-block so no overlap */
#link_resume {
    color: #3c60af;
    display: inline-block;
}

/* Have the PDF Icon before the PDF Resume */

#link_resume::before{
    content: "";
    background: url(fontawesome_logo/file-pdf-regular.svg) no-repeat;

    display: inline-block;
    padding-right: 10px;
    /* background-size:  */


    width: 20px;
    height: 30px;
}


/*Make my phone id float left*/
#phone {
    float: left;
}
/*Make my phone tag float right*/   
#email {
    float: right;
}

#experience {
    float: right;
    margin-top: 40px;
}

/*Change all link tags with no decoration and all black text*/
a:link, a:visited {
    color: #000000; /*Pure Black*/
    text-decoration: none;
}

/**************************************************************
        Media Query - Responsive Design
***************************************************************/

/******************************************************
This is the Responsive Design for Ipad pro
*****************************************************/
@media screen and (max-width: 1024px){
    
    body{
        width: 100%;
        line-height: 5px;
        font-size: 16pt;
    }

    .wrapper{
        max-width: 1024px;
        margin: 0 auto;
  
    }
    /*----------- Navigation ----------*/

    nav{
        height: 400px;
        width: 100%;

        margin-bottom: 60px;
    }

    .nav_container{
        display: block;
        
        float: none;

    }

    .nav_container .nav-wrapper a{
        display: block;
        text-align: left;
        max-width: 1024px;
        margin: 5px 0;
        
        padding: 20px 0;
        padding-left: 30px;

        background-color: #3c60af;
    }

    /* .nav_container .dropdown: */

    .mobile_nav #subnav_mobile{
        
        display: none;
        height: 120px;
        float: none;
        background-color: #797979;
    }

    .mobile_nav #subnav_mobile a{

        display: block;
        padding: 20px 0;
    }

    /* .nav-wrapper {
        margin-top: 50px;
    } */ 

    #mobile_button{
        
        width: 100%;
        font-size: 16pt;

        padding: 10px 0;
        text-align: left;
        text-indent: 20px;

        background-color: #c0d0e4;
        border: none;
    }

    .mobile_nav{
        display: block;
    }

    .dropdown{
        display: none;
    }


    /*-------------------- Footer ------------------*/
    footer{
        width: 100%;
    }
    
    .footer_wrapper{
        max-width: 992px;
        margin: 0 auto;
    }

    .footer_wrapper .contact ul{
        padding-top: 32px;
        padding-left: 30px;
    }
    
    .footer_wrapper .contact ul li {
        padding-bottom: 16px;
    }

    .footer_wrapper .gallery{
        padding-top: 32px;
    }

    .social_gallery{
        padding-top: 16px;
    }


    /*------------- Resume -------------*/

    #wrapper_resume{
        max-width: 992px;
        padding: 0;
        margin: 0 20px;
    }

    #right_column{
        float: right;
        display: block;

        margin-right: 100px;
    }
    
    .float_left_list {
        margin-right: 80px;
    }


}

/******************************************************
This is the Responsive Design for Ipad
*****************************************************/
@media screen and (max-width: 768px){
    
    /*------------- Resume -------------*/

    #right_column{
        float: none;
        display: block;
    }
    
    .float_left_list {
        margin-right: 90px;
    }

    .footer_wrapper{
        max-width: 736px;
        margin: 0 auto;
    }


}

/****************************************************
This is the Responsive Design for Iphone 6 and below
*******************************************************/
@media screen and (max-width: 375px){
    
    body{
        width: 100%;
        line-height: 5px;
        font-size: 10pt;
    }

    .wrapper{
        max-width: 375px;
        margin: 0 auto;
        display: block;
    }
    /*----------- Navigation ----------*/

    nav{
        height: 400px;
        width: 100%;
    }

    .nav_container{
        display: block;
        
        float: none;

    }

    .nav_container .nav-wrapper a{
        display: block;
        text-align: left;
        max-width: 375px;
        margin: 5px 0;
        
        padding: 20px 0;
        padding-left: 30px;

        background-color: #3c60af;
    }

    /* .nav_container .dropdown: */

    .mobile_nav #subnav_mobile{
        
        display: none;
        height: 120px;
        float: none;
        background-color: #797979;
    }

    .mobile_nav #subnav_mobile a{
        display: block;
        padding: 20px 0;
    }

    /* .nav-wrapper {
        margin-top: 50px;
    } */ 

    #mobile_button{
        width: 100%;
        font-size: 16pt;

        padding: 10px 0;
        text-align: left;
        text-indent: 20px;
    }

    .mobile_nav{
        display: block;
    }

    .dropdown{
        display: none;
    }

    /*this was used before I tried with button for mobile*/
    /* .nav_container .dropdown a {
        display: inline; */
        /* margin-bottom: 200px;

        display: inline-block;
        width: 100%;

        padding: 20px 0;
        padding-left: 30px;

        background-color: #3c60af;
    }

    .nav_container .dropdown{
        display: inline-flex;
 
        margin-top: 50px;
        margin-bottom: 5px;
         margin-bottom: 320px;
    } */

    /* .nav_container.dropdown: {
        
    } */

    /*-------------------- Footer ------------------*/
    footer{
        width: 100%;
    }
    
    .footer_wrapper{
        max-width: 350px;
        margin: 0 auto;
    }

    .footer_wrapper .contact ul{
        padding-top: 32px;
        padding-left: 30px;
    }
    
    .footer_wrapper .contact ul li {
        padding-bottom: 16px;
    }

    .footer_wrapper .gallery{
        padding-top: 32px;
    }

    .social_gallery{
        padding-top: 16px;
    }


    /*------------- Resume -------------*/

    #wrapper_resume{
        max-width: 330px;
        padding: 0;
        margin: 0 20px;
    }

    #right_column{
        float: none;
        display: block;

        width: 100%;
    }
    
    .float_left_list {
        margin-right: 80px;
    }


}

@print (){
    nav, footer{
        display: none;
    }

    
}

